.pointer {
    cursor: pointer;
    color: #888;
}

.title {
    text-align: left;
    margin-top: 10px;
    line-height: 1.2;
    text-transform: capitalize;
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: unset;
    color: #666;
    font-size: 1.3em !important;
}