<div id="gw-center-panel" data-gw-top-level-panel="C" class="gw-center-panel">
  <div id="gw-center-bottom-section" style="height: 1534.3px;">
    <div id="Ext_ClaimANIADashboard-0" class="gw-ScreenWidget gw-styleTag--CenterPanelWidget gw-DashboardScreen"
      data-gw-edit-id="25_0" role="main">
      <div class="gw-location-name" id="Ext_ClaimANIADashboard-0_LocationName"
        data-gw-dest-hash="DestinationHash_Ext_ClaimANIADashboard+-+%7BClaim%3Acc%3A311%7D"
        data-gw-location-name="Ext_ClaimANIADashboard"></div>
      <div id="Ext_ClaimANIADashboard-1" class="gw- gw-styleTag--ScreenWidget" role="toolbar"></div>
      <div id="Ext_ClaimANIADashboard-_msgs" class="gw-MessagesWidget gw-styleTag--ScreenWidget gw-hidden"></div>
      <div id="Ext_ClaimANIADashboard-ANIADashboard" class="gw-DashboardWidget gw-styleTag--ScreenWidget">
        <div id="Ext_ClaimANIADashboard-ANIADashboard-0" class="gw-DashboardColumnWidget gw-styleTag--DashboardWidget"
          aria-orientation="VERTICAL" role="row">
          <div id="Ext_ClaimANIADashboard-ANIADashboard-ResponsibilityDVTile"
            class="gw-TileWidget gw-styleTag--DashboardWidget" role="region">
            <div class="gw-TileHeader">
              <div class="gw-TitleSection">
                <div class="gw-Title" role="heading" aria-level="2"><span class="gw-TitleText">Informazioni
                    generali</span></div>
              </div>
            </div>
            <div id="Ext_ClaimANIADashboard-ANIADashboard-ResponsibilityDVTile-ResponsibilityPerformanceIndicatorRow"
              class="gw-PerformanceIndicatorRowWidget gw-styleTag--TileWidget">
              <div
                id="Ext_ClaimANIADashboard-ANIADashboard-ResponsibilityDVTile-ResponsibilityPerformanceIndicatorRow-ChangeStatusPerformanceIndicator"
                class="gw-PerformanceIndicatorWidget gw-placeholder"></div>
              <div
                id="Ext_ClaimANIADashboard-ANIADashboard-ResponsibilityDVTile-ResponsibilityPerformanceIndicatorRow-ResponsibilityPerformanceIndicator"
                class="gw-PerformanceIndicatorWidget gw-styleTag--TileWidget" role="group">
                <div class="gw-PerformanceIndicatorWidget--Value gw-app--gwcolor--color--actionneutral">Concorso</div>
                <div class="gw-PerformanceIndicatorWidget--Label">Responsabilità dedotta da ANIA</div>
                <div
                  id="Ext_ClaimANIADashboard-ANIADashboard-ResponsibilityDVTile-ResponsibilityPerformanceIndicatorRow-ResponsibilityPerformanceIndicator-Badge"
                  class="gw-BadgeWidget gw-styleTag--TileWidget gw-badge-small" role="status">
                  <div class="gw-label">Definita</div>
                </div>
              </div>
              <div
                id="Ext_ClaimANIADashboard-ANIADashboard-ResponsibilityDVTile-ResponsibilityPerformanceIndicatorRow-SICPerformanceIndicator"
                class="gw-PerformanceIndicatorWidget gw-styleTag--TileWidget" role="group">
                <div class="gw-PerformanceIndicatorWidget--Value gw-app--gwcolor--color--actionneutral">OK</div>
                <div class="gw-PerformanceIndicatorWidget--Label">Esito SIC</div>
              </div>
              <div
                id="Ext_ClaimANIADashboard-ANIADashboard-ResponsibilityDVTile-ResponsibilityPerformanceIndicatorRow-CARDNaturalIndicator"
                class="gw-PerformanceIndicatorWidget gw-styleTag--TileWidget" role="group">
                <div class="gw-PerformanceIndicatorWidget--Value gw-app--gwcolor--color--actionneutral">Naturale</div>
                <div class="gw-PerformanceIndicatorWidget--Label"
                  data-gw-click="fireEvent id:Ext_ClaimANIADashboard-ANIADashboard-ResponsibilityDVTile-ResponsibilityPerformanceIndicatorRow-CARDNaturalIndicator"
                  tabindex="0">Vai a sinistro...</div>
                <div
                  id="Ext_ClaimANIADashboard-ANIADashboard-ResponsibilityDVTile-ResponsibilityPerformanceIndicatorRow-CARDNaturalIndicator-Badge"
                  class="gw-BadgeWidget gw-styleTag--TileWidget gw-badge-small"
                  style="background-color:rgba(0,169,123,1.0)" role="status">
                  <div class="gw-label">000-00-000309</div>
                </div>
              </div>
            </div>
            <div id="Ext_ClaimANIADashboard-ANIADashboard-ResponsibilityDVTile-ResponsibilityDVTile_DV"
              class="gw-DetailViewWidget gw-styleTag--TileWidget" role="group">
              <div class="gw-DetailViewWidget--body"></div>
            </div>
            <div class="gw-TileFooter" role="toolbar"></div>
          </div>
          <div id="Ext_ClaimANIADashboard-ANIADashboard-FlowsStatusDVTile"
            class="gw-TileWidget gw-styleTag--DashboardWidget" role="region">
            <div class="gw-TileHeader">
              <div class="gw-TitleSection">
                <div class="gw-Title" role="heading" aria-level="2"><span class="gw-TitleText">Stato flussi</span></div>
              </div>
            </div>
            <div id="Ext_ClaimANIADashboard-ANIADashboard-FlowsStatusDVTile-FlowsPerformanceIndicatorRow"
              class="gw-PerformanceIndicatorRowWidget gw-styleTag--TileWidget">
              <div
                id="Ext_ClaimANIADashboard-ANIADashboard-FlowsStatusDVTile-FlowsPerformanceIndicatorRow-DenuncePerformanceIndicator"
                class="gw-PerformanceIndicatorWidget gw-styleTag--TileWidget" role="group">
                <div class="gw-PerformanceIndicatorWidget--Value gw-app--gwcolor--color--actionneutral">In.0/Out.3</div>
                <div class="gw-PerformanceIndicatorWidget--Label">Den. sinistro</div>
                <div
                  id="Ext_ClaimANIADashboard-ANIADashboard-FlowsStatusDVTile-FlowsPerformanceIndicatorRow-DenuncePerformanceIndicator-Badge"
                  class="gw-BadgeWidget gw-styleTag--TileWidget gw-badge-small" role="status">
                  <div class="gw-label">Nessuno scarto</div>
                </div>
              </div>
              <div
                id="Ext_ClaimANIADashboard-ANIADashboard-FlowsStatusDVTile-FlowsPerformanceIndicatorRow-ResponsabilitaPerformanceIndicator"
                class="gw-PerformanceIndicatorWidget gw-styleTag--TileWidget" role="group">
                <div class="gw-PerformanceIndicatorWidget--Value gw-app--gwcolor--color--actionneutral">In.2/Out.1</div>
                <div class="gw-PerformanceIndicatorWidget--Label">Responsabilità</div>
                <div
                  id="Ext_ClaimANIADashboard-ANIADashboard-FlowsStatusDVTile-FlowsPerformanceIndicatorRow-ResponsabilitaPerformanceIndicator-Badge"
                  class="gw-BadgeWidget gw-styleTag--TileWidget gw-badge-small" role="status">
                  <div class="gw-label">Nessuno scarto</div>
                </div>
              </div>
              <div
                id="Ext_ClaimANIADashboard-ANIADashboard-FlowsStatusDVTile-FlowsPerformanceIndicatorRow-ChangeStatusPerformanceIndicator"
                class="gw-PerformanceIndicatorWidget gw-placeholder"></div>
              <div
                id="Ext_ClaimANIADashboard-ANIADashboard-FlowsStatusDVTile-FlowsPerformanceIndicatorRow-PagamentiPerformanceIndicator"
                class="gw-PerformanceIndicatorWidget gw-placeholder"></div>
              <div
                id="Ext_ClaimANIADashboard-ANIADashboard-FlowsStatusDVTile-FlowsPerformanceIndicatorRow-AggiornamentoStatoDannoPerformanceIndicator"
                class="gw-PerformanceIndicatorWidget gw-placeholder"></div>
              <div
                id="Ext_ClaimANIADashboard-ANIADashboard-FlowsStatusDVTile-FlowsPerformanceIndicatorRow-ForzaturaChiusuraDannoFlowPerformanceIndicator"
                class="gw-PerformanceIndicatorWidget gw-placeholder"></div>
              <div
                id="Ext_ClaimANIADashboard-ANIADashboard-FlowsStatusDVTile-FlowsPerformanceIndicatorRow-RiscattiSinistriFlowPerformanceIndicator"
                class="gw-PerformanceIndicatorWidget gw-placeholder"></div>
              <div
                id="Ext_ClaimANIADashboard-ANIADashboard-FlowsStatusDVTile-FlowsPerformanceIndicatorRow-RivalseCTTFlowPerformanceIndicator"
                class="gw-PerformanceIndicatorWidget gw-placeholder"></div>
            </div>
            <div id="Ext_ClaimANIADashboard-ANIADashboard-FlowsStatusDVTile-FlowsStatusDVTile_DV"
              class="gw-DetailViewWidget gw-styleTag--TileWidget" role="group">
              <div class="gw-DetailViewWidget--body"></div>
            </div>
            <div class="gw-TileFooter" role="toolbar"></div>
          </div>
          <div id="Ext_ClaimANIADashboard-ANIADashboard-ANIAKeyDVTile"
            class="gw-TileWidget gw-styleTag--DashboardWidget" role="region">
            <div class="gw-TileHeader">
              <div class="gw-TitleSection">
                <div class="gw-Title" role="heading" aria-level="2"><span class="gw-TitleText">Cinquina</span></div>
              </div>
            </div>
            <div id="Ext_ClaimANIADashboard-ANIADashboard-ANIAKeyDVTile-ANIAKeyDVTile_DV"
              class="gw-DetailViewWidget gw-styleTag--TileWidget" role="group">
              <div class="gw-DetailViewWidget--body">
                <div id="Ext_ClaimANIADashboard-ANIADashboard-ANIAKeyDVTile-ANIAKeyDVTile_DV-0"
                  class="gw-TileInputColumnWidget gw-styleTag--DetailViewWidget" role="group">
                  <div id="Ext_ClaimANIADashboard-ANIADashboard-ANIAKeyDVTile-ANIAKeyDVTile_DV-1"
                    class="gw-InputColumnWidget gw-styleTag--DetailViewWidget" role="group">
                    <div
                      id="Ext_ClaimANIADashboard-ANIADashboard-ANIAKeyDVTile-ANIAKeyDVTile_DV-InsuredLicensePlateAndCompany_Input"
                      class="gw-InputWidget gw-styleTag--InputColumnWidget" role="group">
                      <div id="l--1" class="gw-label">Assicurato</div>
                      <div class="gw-value">
                        <div
                          id="Ext_ClaimANIADashboard-ANIADashboard-ANIAKeyDVTile-ANIAKeyDVTile_DV-InsuredLicensePlateAndCompany"
                          class="gw-TextValueWidget gw-styleTag--InputWidget gw-ValueWidget gw-readonly"
                          data-gw-getset="text" aria-describedby="l--1">
                          <div class="gw-vw--value gw-align-h--left">
                            <div class="gw-value-readonly-wrapper">*GE123ES - COMPAGNIA TEST (999)</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      id="Ext_ClaimANIADashboard-ANIADashboard-ANIAKeyDVTile-ANIAKeyDVTile_DV-ThirdPartyLicensePlateAndCompany_Input"
                      class="gw-InputWidget gw-styleTag--InputColumnWidget" role="group">
                      <div id="l--2" class="gw-label">Controparte</div>
                      <div class="gw-value">
                        <div
                          id="Ext_ClaimANIADashboard-ANIADashboard-ANIAKeyDVTile-ANIAKeyDVTile_DV-ThirdPartyLicensePlateAndCompany"
                          class="gw-TextValueWidget gw-styleTag--InputWidget gw-ValueWidget gw-readonly"
                          data-gw-getset="text" aria-describedby="l--2">
                          <div class="gw-vw--value gw-align-h--left">
                            <div class="gw-value-readonly-wrapper">*MA123GR - COMPAGNIA TEST (999)</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="Ext_ClaimANIADashboard-ANIADashboard-ANIAKeyDVTile-ANIAKeyDVTile_DV-LossDate2_Input"
                      class="gw-InputWidget gw-styleTag--InputColumnWidget" role="group">
                      <div id="l--3" class="gw-label">Data accadimento</div>
                      <div class="gw-value">
                        <div id="Ext_ClaimANIADashboard-ANIADashboard-ANIAKeyDVTile-ANIAKeyDVTile_DV-LossDate2"
                          class="gw-DateValueWidget gw-styleTag--InputWidget gw-ValueWidget gw-readonly gw-parentForDatePicker gw-date"
                          data-gw-getset="date" data-gw-datetime="" data-gw-date-mask="dd/MM/yyyy"
                          aria-describedby="l--3" role="group" data-gw-input="gwInputSystems.inputEventNotifySystems"
                          data-gw-copy="gwInputSystems.copyEventNotifySystems">
                          <div class="gw-vw--value gw-align-h--left">
                            <div class="gw-value-readonly-wrapper">17/11/2020</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="gw-TileFooter" role="toolbar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>